.footer {
  position: relative;
  width: 100%;
  background: #448fa3;
  min-height: 40px;
  justify-content: flex-center;
  padding: 20px 50px;
}

.menu {
  color: white;
  display: inline-flex;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px 0;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  position: relative;
}

.menu > li > a:hover {
  font-size: 1.1rem;
  color: orange;
  transition: all 300ms ease-in;
  text-decoration: underline;
}

.menu > p,
a {
  font-family: "Poppins", serif;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .menu {
    gap: 1.5rem;
  }
  .menu > li > a {
    font-size: 1rem;
  }
}
