.footer {
  position: relative;
  width: 100%;
  background: #35586c;
  min-height: 80px;
  justify-content: flex-center;
  padding: 20px 50px;
}

.menu {
  color: white;
  display: inline-flex;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
}

.menu > li > a:hover {
  opacity: 0.6;
  font-size: 1.3rem;
  color: aquamarine;
  transition: all 300ms ease-in-out;
  transform: translateY(40%);
}
.menu > p,
a {
  font-family: "Playfair", serif;
  font-size: 1.1rem;
}
